.cta-section {
  @include media(desktop) {
  }
}

.cta-bg-wrapper {
  padding-top: 48px;
  padding-bottom: 48px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 1440px;
  }
}

.cta-container {
  @include media(desktop) {
  }
}

.cta-content-wrapper {
  @include media(desktop) {
  }
}

.cta-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;

  @include media(desktop) {
  }
}

.cta-title {
  text-align: center;
  margin-bottom: 32px;

  @include media(desktop) {
  }
}

.cta-text {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #171a32;
  margin-bottom: 32px;

  @include media(desktop) {
    max-width: 675px;
    margin-left: auto;
    margin-right: auto;
  }
}

.cta-link {
  background: #6c0;
  border-radius: 8px;
  padding: 16px 28px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.04em;
  text-align: center;
  color: #171a32;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;

  @include media(desktop) {
    padding: 16px 40px;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
  }
}

.cta-bottom-text {
  font-family: 'Nunito Sans', sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #171a32;

  @include media(desktop) {
  }
}
