.features-section {
  @include media(desktop) {
  }
}

.features-section-wrapper {
  padding-top: 48px;
  padding-bottom: 48px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 1440px;
  }
}

.features-container {
  @include media(desktop) {
  }
}

.features-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 84px;
  }
}

.features-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    min-width: 454px;
    margin: 0;
  }
}

.features-text-wrapper {
  @include media(desktop) {
    max-width: 500px;
  }
}

.features-title {
  @include media(desktop) {
  }
}

.features-text {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #171a32;
  margin-bottom: 32px;

  @include media(desktop) {
  }
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  @include media(desktop) {
  }
}

.features-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
  max-width: 159px;

  @include media(desktop) {
    padding-bottom: 21px;
    align-items: start;
    max-width: 238px;
  }
}

.features-item-text {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #171a32;

  @include media(desktop) {
    text-align: left;
  }
}
