.footer {
  background: #632900;
  padding-top: 48px;
  padding-bottom: 16px;

  @include media(desktop) {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

.footer-container {
  @include media(desktop) {
  }
}

.footer-content-wrapper {
  @include media(desktop) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.footer-logo-link {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
  font-family: 'Baloo', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.1875;
  letter-spacing: -0.03em;
  text-align: center;
  color: #d1e4fb;
  max-width: max-content;
  margin-bottom: 100px;

  @include media(desktop) {
    margin-bottom: 0;
  }
}

.footer-link-img-wrapper {
  display: flex;
  gap: 12px;

  @include media(desktop) {
  }
}

.footer-logo-text {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #d1e4fb;

  @include media(desktop) {
  }
}

.footer-text {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
  color: #d1e4fb;
  margin-bottom: 12px;

  @include media(desktop) {
    margin-bottom: 0;
  }
}

.footer-nav {
  @include media(desktop) {
  }
}

.footer-list {
  display: flex;
  align-items: center;
  gap: 16px;

  @include media(desktop) {
  }
}

.footer-list-item {
  @include media(desktop) {
  }
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
  color: #d1e4fb;

  @include media(desktop) {
  }
}
