.gameplay-section {
  @include media(desktop) {
  }
}

.gameplay-section-wrapper {
  padding-top: 48px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 100px;
    max-width: 1440px;
  }
}

.gameplay-container {
  padding: 0;

  @include media(desktop) {
  }
}

.gameplay-title-wrapper {
  padding: 0 16px;
  margin-bottom: 32px;

  @include media(desktop) {
    padding: 0 72px;
  }
}

.gameplay-title {
  text-align: center;

  @include media(desktop) {
  }
}

.gameplay-top-text {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #171a32;

  @include media(desktop) {
  }
}

.gameplay-content-wrapper {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 18px;

  @include media(desktop) {
    padding: 0 72px;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 32px;
  }
}

.gameplay-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    min-width: 502px;
    margin: 0;
  }
}

.gameplay-list {
  background: #004576;
  border-radius: 8px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include media(desktop) {
    justify-content: center;
    max-width: 336px;
  }
}

.gameplay-list-item {
  display: flex;
  align-items: center;
  gap: 8px;

  @include media(desktop) {
  }
}

.gameplay-item-img {
  @include media(desktop) {
  }
}

.gameplay-item-text {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #d1e4fb;

  @include media(desktop) {
  }
}

.gameplay-bottom-text {
  background: #fff200;
  border: 2px dashed #ffa841;
  padding: 46px;
  font-family: 'Nunito Sans', sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #171a32;
  margin-top: 32px;

  @include media(desktop) {
  }
}

.gameplay-text-br {
  @include media(desktop) {
    display: none;
  }
}
