.header {
  background: linear-gradient(90deg, #c6fcff 0%, #fff4eb 100%);
  padding-top: 6px;
  padding-bottom: 6px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  @include media(desktop) {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.header-wrapper {
  @include media(desktop) {
  }
}

.header-bg-wrapper {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.header-container {
  @include media(desktop) {
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media(desktop) {
  }
}

.header-logo-img {
  min-width: 48px;

  @include media(desktop) {
  }
}

.header-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-family: 'Baloo', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.1875;
  letter-spacing: -0.03em;
  text-align: center;
  color: #171a32;

  @include media(desktop) {
  }
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
}

.nav-list-item {
}

.nav-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
  color: #171a32;
  transition: color 0.3s ease-in-out;

  &:hover,
  &.active {
  }
}

.header-cta-link {
  display: none;

  @include media(desktop) {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #6c0;
    border-radius: 8px;
    padding: 8px 24px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.04em;
    text-align: center;
    color: #171a32;
    max-width: max-content;
  }
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}

.menu-icon {
}
