.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 144px;
  padding-bottom: 48px;
  max-width: 375px;
  margin: 0 auto;

  @include media(desktop) {
    padding-top: 156px;
    padding-bottom: 100px;
    max-width: 1440px;
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include media(desktop) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 134px;
  }
}

.hero-text-wrapper {
  @include media(desktop) {
    max-width: 458px;
  }
}

.hero-main-title {
  font-family: 'Baloo', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.16667;
  color: #e74019;
  margin-bottom: 8px;

  @include media(desktop) {
    font-size: 48px;
    line-height: 1.125;
  }
}

.hero-text {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #171a32;
  margin-bottom: 24px;

  @include media(desktop) {
  }
}

.hero-links-wrapper {
  border-bottom: 1px solid rgba(232, 107, 4, 0.3);
  padding-bottom: 7px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;

  @include media(desktop) {
    flex-direction: row;
    align-items: center;
  }
}

.hero-cta-link {
  background: #6c0;
  border-radius: 8px;
  padding: 16px 40px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.04em;
  text-align: center;
  color: #171a32;

  @include media(desktop) {
  }
}

.hero-link {
  border: 1px solid #6c0;
  border-radius: 8px;
  padding: 15px 39px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.04em;
  text-align: center;
  color: #171a32;

  @include media(desktop) {
  }
}

.hero-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 12px;
  max-width: 225px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    flex-wrap: nowrap;
    gap: 16px;
    max-width: max-content;
    margin: 0;
  }
}

.hero-list-item {
  max-width: max-content;

  @include media(desktop) {
  }
}

.hero-item-text {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.53846;
  color: #171a32;

  @include media(desktop) {
  }
}

.hero-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    margin: 0;
    min-width: 484px;
  }
}
