<section class="about-section section" id="about">
  <div class="about-section-wrapper">
    <div class="container about-container">
      <div class="about-content-wrapper">
        <picture>
          <source
            srcset="./img/about/about-img-desk.png"
            media="(min-width: 1440px)"
            width="526"
            height="342"
          />
          <source
            srcset="./img/about/about-img-mob.png"
            width="343"
            height="223"
          />
          <img
            class="about-img"
            src="./img/about/about-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="223"
            loading="lazy"
          />
        </picture>
        <div class="about-text-wrapper">
          <h2 class="section-title about-title">
            Every thread tells part of the story
          </h2>
          <div class="about-text-container">
            <p class="about-text">
              So each level starts with these threads that look like someone's
              cat got into a yarn basket - total chaos everywhere.
            </p>
            <p class="about-text">But nothing here is random.</p>
            <p class="about-text">
              The more you look, the more you begin to see patterns. Paths that
              almost work. Lines that nearly align. Small decisions that created
              the mess you now have to untangle.
            </p>
            <p class="about-text">
              Your task is simple to explain, but never trivial to
              complete:separate what is crossed, restore what is clear.
            </p>
            <p class="about-text">
              And as the puzzles grow, so does the complexity of what you’re
              seeing. Not just more threads — but more possibilities.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
