<section class="section cta-section" id="cta">
  <div class="cta-bg-wrapper">
    <div class="container cta-container">
      <div class="cta-content-wrapper">
        <div class="cta-content-wrapper">
          <picture>
            <source
              srcset="./img/cta/cta-img-desk.png"
              media="(min-width: 1440px)"
              width="348"
              height="464"
            />
            <source
              srcset="./img/cta/cta-img-mob.png"
              width="345"
              height="457"
            />
            <img
              class="cta-img"
              src="./img/cta/cta-img-mob.png"
              alt="Screenshot of the game"
              width="345"
              height="457"
              loading="lazy"
            />
          </picture>
          <h2 class="section-title cta-title">
            And when it’s complete… it’s not really the end
          </h2>
          <p class="cta-text">
            You place the final piece.<br />
            For a moment, everything is still.<br />
            Then little things start happening - nothing flashy, just small
            movements that make the scene feel real.<br />
            And suddenly, it’s no longer just a puzzle.<br />
            It’s a memory. A moment. A story you helped bring into view.<br />
            There are more waiting.<br />
            More fragments. More scenes. More stories waiting to be put
            together.<br />
            Just gotta dive into the next one.
          </p>
          <a
            class="cta-link"
            href="https://play.google.com/store/apps/details?id=com.vanir.games.art.puzzles&hl=en&gl=us"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Download on Google Play"
            >Download & Start Your First Puzzle</a
          >
          <p class="cta-bottom-text">
            Take a breath.<br />
            Place the first piece.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
