<section class="section cta-section" id="cta">
  <div class="cta-bg-wrapper">
    <div class="container cta-container">
      <div class="cta-content-wrapper">
        <div class="cta-content-wrapper">
          <div class="cta-text-wrapper">
            <h2 class="section-title cta-title">
              There’s a moment when everything aligns
            </h2>
            <div class="cta-text-container">
              <p class="cta-text">
                The threads separate. The crossings disappear. Everything just
                falls into place and you're like 'oh duh, of course that's how
                it goes.'
              </p>
              <p class="cta-text">
                And that's what keeps you coming back for more.
              </p>
              <p class="cta-text">
                Then you're onto the next level, ready to tackle whatever
                twisted mess they throw at you next.
              </p>
              <p class="cta-text">
                No noise. No rush.<br />
                Just that 'aha!' moment you actually worked for, one careful
                move at a time.
              </p>
              <p class="cta-text">
                Untangle smart.<br />
                Think clearly.<br />
                Let everything fall into place.
              </p>
            </div>
          </div>
          <div class="cta-img-wrapper">
            <a
              class="cta-link"
              href="https://play.google.com/store/apps/details?id=com.gs.flow.connect.dot.link&hl=en&gl=us"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Download on Google Play"
              >Download & Untangle</a
            >
            <picture>
              <source
                srcset="./img/cta/cta-img-desk.png"
                media="(min-width: 1440px)"
                width="636"
                height="320"
              />
              <source
                srcset="./img/cta/cta-img-mob.png"
                width="345"
                height="174"
              />
              <img
                class="cta-img"
                src="./img/cta/cta-img-mob.png"
                alt="Screenshot of the game"
                width="345"
                height="174"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
