<section class="features-section section" id="features">
  <div class="features-section-wrapper">
    <div class="container features-container">
      <div class="features-content-wrapper">
        <picture>
          <source
            srcset="./img/features/features-img-desk.png"
            media="(min-width: 1440px)"
            width="454"
            height="586"
          />
          <source
            srcset="./img/features/features-img-mob.png"
            width="343"
            height="442"
          />
          <img
            class="features-img"
            src="./img/features/features-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="442"
            loading="lazy"
          />
        </picture>
        <div class="features-text-wrapper">
          <h2 class="section-title features-title">
            Honestly, it's pretty relaxing - kind of like meditation but more
            visual
          </h2>
          <p class="features-text">
            Art Puzzles isn’t loud. It doesn’t rush you. It doesn’t ask for
            perfection. It doesn't rush you or anything.<br />
            It's one of those games where you can just zone out and actually pay
            attention to the little stuff for once.<br />
            Some people play to relax. Some play to focus. Some play because it
            feels… good to finish something gently.
          </p>
          <ul class="features-list">
            <li class="features-list-item">
              <img
                class="features-item-img"
                src="./img/features/features-img1.png"
                alt="Screenshot of the game"
                width="38"
                height="42"
              />
              <p class="features-item-text">
                A sense of calm after each puzzle
              </p>
            </li>
            <li class="features-list-item">
              <img
                class="features-item-img"
                src="./img/features/features-img2.png"
                alt="Screenshot of the game"
                width="38"
                height="42"
              />
              <p class="features-item-text">
                A deeper connection to the scenes you build
              </p>
            </li>
            <li class="features-list-item">
              <img
                class="features-item-img"
                src="./img/features/features-img3.png"
                alt="Screenshot of the game"
                width="38"
                height="42"
              />
              <p class="features-item-text">
                A few minutes where everything slows down
              </p>
            </li>
            <li class="features-list-item">
              <img
                class="features-item-img"
                src="./img/features/features-img4.png"
                alt="Screenshot of the game"
                width="38"
                height="42"
              />
              <p class="features-item-text">
                A creative spark, even in small interactions
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
