<section class="gameplay-section section" id="gameplay">
  <div class="gameplay-section-wrapper">
    <div class="container gameplay-container">
      <div class="gameplay-content-wrapper">
        <picture>
          <source
            srcset="./img/gameplay/gameplay-img-desk.png"
            media="(min-width: 1440px)"
            width="526"
            height="475"
          />
          <source
            srcset="./img/gameplay/gameplay-img-mob.png"
            width="342"
            height="309"
          />
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img-mob.png"
            alt="Screenshot of the game"
            width="342"
            height="309"
            loading="lazy"
          />
        </picture>
        <div class="gameplay-text-wrapper">
          <h2 class="section-title gameplay-title">
            Slow hands. Clear thinking.
          </h2>
          <div class="gameplay-text-container">
            <p class="gameplay-text">
              No countdown clocks stressing you out, no annoying sound effects -
              just you and the puzzle. Just you and the structure in front of
              you.
            </p>
            <p class="gameplay-text">
              You move threads carefully, one by one, watching how each change
              affects the whole system.
            </p>
            <p class="gameplay-text">Inside the experience:</p>
            <ul class="gameplay-list">
              <li class="gameplay-list-item">
                <div class="gameplay-item-circle"></div>
                <p class="gameplay-text">
                  Untangle overlapping threads without creating new conflicts
                </p>
              </li>
              <li class="gameplay-list-item">
                <div class="gameplay-item-circle"></div>
                <p class="gameplay-text">
                  Analyze before acting — every move matters
                </p>
              </li>
              <li class="gameplay-list-item">
                <div class="gameplay-item-circle"></div>
                <p class="gameplay-text">Prevent blocked paths and dead ends</p>
              </li>
              <li class="gameplay-list-item">
                <div class="gameplay-item-circle"></div>
                <p class="gameplay-text">Solve increasingly complex layouts</p>
              </li>
              <li class="gameplay-list-item">
                <div class="gameplay-item-circle"></div>
                <p class="gameplay-text">
                  You'll know that moment when it all suddenly clicks and you're
                  like 'wait, I actually get this now'
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
