<section class="gameplay-section section" id="gameplay">
  <div class="gameplay-section-wrapper">
    <div class="container gameplay-container">
      <div class="gameplay-title-wrapper">
        <h2 class="section-title gameplay-title">
          One piece doesn’t change much. Until it does.
        </h2>
        <p class="gameplay-top-text">
          There’s something deeply satisfying about placing the right piece.<br />
          Not because it’s correct — but because it fits. The color aligns. The
          shape settles.<br />
          The image breathes a little more.<br />
          Then boom - everything changes.<br />
          A character moves. A light flickers. A scene that was still becomes
          alive.
        </p>
      </div>
      <div class="gameplay-content-wrapper">
        <picture>
          <source
            srcset="./img/gameplay/gameplay-img-desk.png"
            media="(min-width: 1440px)"
            width="502"
            height="664"
          />
          <source
            srcset="./img/gameplay/gameplay-img-mob.png"
            width="343"
            height="453"
          />
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="453"
            loading="lazy"
          />
        </picture>
        <ul class="gameplay-list">
          <li class="gameplay-list-item">
            <img
              class="gameplay-item-img"
              src="./img/gameplay/gameplay-img1.png"
              alt="Screenshot of the game"
              width="38"
              height="40"
            />
            <p class="gameplay-item-text">Calm, intuitive puzzle solving</p>
          </li>
          <li class="gameplay-list-item">
            <img
              class="gameplay-item-img"
              src="./img/gameplay/gameplay-img2.png"
              alt="Screenshot of the game"
              width="38"
              height="40"
            />
            <p class="gameplay-item-text">Images forming layer by layer</p>
          </li>
          <li class="gameplay-list-item">
            <img
              class="gameplay-item-img"
              src="./img/gameplay/gameplay-img3.png"
              alt="Screenshot of the game"
              width="38"
              height="40"
            />
            <p class="gameplay-item-text">
              Subtle animations revealing themselves
            </p>
          </li>
          <li class="gameplay-list-item">
            <img
              class="gameplay-item-img"
              src="./img/gameplay/gameplay-img4.png"
              alt="Screenshot of the game"
              width="38"
              height="40"
            />
            <p class="gameplay-item-text">
              You're making progress, but the game isn't being pushy about it
            </p>
          </li>
          <li class="gameplay-list-item">
            <img
              class="gameplay-item-img"
              src="./img/gameplay/gameplay-img5.png"
              alt="Screenshot of the game"
              width="38"
              height="40"
            />
            <p class="gameplay-item-text">
              Small moments that feel surprisingly meaningful
            </p>
          </li>
        </ul>
      </div>
      <p class="gameplay-bottom-text">
        You’re not just finishing puzzles.<br class="gameplay-text-br" />
        You’re revealing them.
      </p>
    </div>
  </div>
</section>
