<header class="header">
  <div class="header-wrapper">
    <div class="header-bg-wrapper">
      <div class="container header-container">
        <nav class="nav">
          <a href="./index.html" class="header-logo-link">Outer Thread</a>
          <ul class="nav-list">
            <li class="nav-list-item">
              <a class="nav-list-link" href="./index.html#about">The Knot</a>
            </li>
            <li class="nav-list-item">
              <a class="nav-list-link" href="./index.html#gameplay"
                >How It Works</a
              >
            </li>
            <li class="nav-list-item">
              <a class="nav-list-link" href="./index.html#features">The Mind</a>
            </li>
          </ul>
          <a
            class="header-cta-link"
            href="https://play.google.com/store/apps/details?id=com.gs.flow.connect.dot.link&hl=en&gl=us"
            target="_blank"
            rel="noopener noreferrer"
            >Untangle Now</a
          >
          <button class="nav-btn" type="button" aria-label="Open mobile menu">
            <svg class="menu-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-menu"></use>
            </svg>
          </button>
        </nav>
      </div>
    </div>
  </div>
</header>
