<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <div class="hero-text-wrapper">
          <h1 class="hero-main-title">
            There's something about putting together a picture piece by piece
          </h1>
          <p class="hero-text">
            It doesn’t begin with the full image. Just a fragment. A small piece
            of color. A shape that doesn’t yet make sense. You stick it
            somewhere - probably not the right spot, but hey, you gotta start
            somewhere. Then bit by bit, the picture actually starts making
            sense. A room appears.<br />
            A face. A moment frozen in time. In Art Puzzles, you don’t just
            complete images. You uncover them. Each piece you snap into place
            brings you a little closer to seeing what's actually going on in the
            picture.
          </p>
          <div class="hero-links-wrapper">
            <a
              class="hero-cta-link"
              href="https://play.google.com/store/apps/details?id=com.vanir.games.art.puzzles&hl=en&gl=us"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Download on Google Play"
              >Start Solving</a
            >
            <a class="hero-link" href="./index.html#cta"
              >Open the First Story</a
            >
          </div>
          <ul class="hero-list">
            <li class="hero-list-item">
              <p class="hero-item-text">Version 1.1.8</p>
            </li>
            <li class="hero-list-item">
              <p class="hero-item-text">Updated Mar 23, 2026</p>
            </li>
            <li class="hero-list-item">
              <p class="hero-item-text">Android 7.0+</p>
            </li>
            <li class="hero-list-item">
              <p class="hero-item-text">1,000+ Downloads</p>
            </li>
          </ul>
        </div>
        <picture>
          <source
            srcset="./img/hero/hero-img-desk.png"
            media="(min-width: 1440px)"
            width="484"
            height="602"
          />
          <source
            srcset="./img/hero/hero-img-mob.png"
            width="335"
            height="411"
          />
          <img
            class="hero-img"
            src="./img/hero/hero-img-mob.png"
            alt="Screenshot of the game"
            width="335"
            height="411"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
