<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <div class="hero-text-wrapper">
          <h1 class="hero-main-title">
            Some problems don’t shout. They quietly tangle.
          </h1>
          <p class="hero-text">
            At first, it looks simple. Just a few colored threads crossing each
            other, resting in a still space.
          </p>
          <div class="hero-links-wrapper">
            <a
              class="hero-cta-link"
              href="https://play.google.com/store/apps/details?id=com.gs.flow.connect.dot.link&hl=en&gl=us"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Download on Google Play"
              >Start Solving</a
            >
            <a class="hero-link" href="./index.html#cta">Enter the Puzzle</a>
          </div>
          <div class="hero-bottom-wrapper">
            <div class="hero-bottom-text-wrapper">
              <svg class="hero-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-update"></use>
              </svg>
              <p class="hero-bottom-text">Updated Feb 12, 2026</p>
            </div>
            <div class="hero-bottom-text-wrapper">
              <svg class="hero-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-cloud"></use>
              </svg>
              <p class="hero-bottom-text">Offline Play Available</p>
            </div>
          </div>
        </div>
        <img
          class="hero-img-desk"
          src="./img/hero/hero-img-desk.png"
          alt="Screenshot of the game"
          width="523"
          height="578"
        />
      </div>
      <ul class="hero-list">
        <li class="hero-list-item">
          <img
            class="hero-item-img"
            src="./img/hero/hero-img1.png"
            alt="Screenshot of the game"
            width="103"
            height="124"
          />
          <div class="hero-item-text-wrapper">
            <p class="hero-item-text">Nothing is broken. Nothing is missing.</p>
            <p class="hero-item-text">And yet… nothing is right.</p>
          </div>
        </li>
        <li class="hero-list-item">
          <img
            class="hero-item-img"
            src="./img/hero/hero-img2.png"
            alt="Screenshot of the game"
            width="88"
            height="124"
          />
          <div class="hero-item-text-wrapper">
            <p class="hero-item-text">
              In Twisted Thread Puzzle, you don’t build, destroy, or rush. You
              observe. You trace. You begin to understand how everything
              connects — and where it went wrong.
            </p>
          </div>
        </li>
        <li class="hero-list-item">
          <img
            class="hero-item-img"
            src="./img/hero/hero-img3.png"
            alt="Screenshot of the game"
            width="120"
            height="124"
          />
          <div class="hero-item-text-wrapper">
            <p class="hero-item-text">One move can bring clarity.</p>
            <p class="hero-item-text">One mistake can tighten the knot.</p>
          </div>
        </li>
        <li class="hero-list-item">
          <img
            class="hero-item-img"
            src="./img/hero/hero-img4.png"
            alt="Screenshot of the game"
            width="91"
            height="124"
          />
          <div class="hero-item-text-wrapper">
            <p class="hero-item-text">This is not just a puzzle.</p>
            <p class="hero-item-text">It’s a moment between chaos and order.</p>
          </div>
        </li>
      </ul>
      <img
        class="hero-img-mob"
        src="./img/hero/hero-img-mob.png"
        alt="Screenshot of the game"
        width="343"
        height="378"
      />
    </div>
  </div>
</section>
