<div class="context-menu">
  <div class="container context-container">
    <button class="close-btn" type="button" aria-label="Close mobile menu">
      <svg class="close-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="context-nav">
      <ul class="context-nav-list">
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#about">The Knot</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#gameplay"
            >How It Works</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#features">The Mind</a>
        </li>
      </ul>
      <a
        class="context-cta-link"
        href="https://play.google.com/store/apps/details?id=com.gs.flow.connect.dot.link&hl=en&gl=us"
        target="_blank"
        rel="noopener noreferrer"
        >Untangle Now</a
      >
    </nav>
  </div>
</div>
